# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
dist/
build/
myenv/
# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment Variables
.env
*.env

# Jupyter Notebook
.ipynb_checkpoints

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Temporary files
tmp/
temp/

# Testing
.coverage
.coverage.*
nosetests.xml
*.cover
*.log

# Dependency directories
node_modules/
bower_components/
venv/
.env/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Backup files #
################
*~ 
*.bak

# Other files
*.tgz
*.zip
*.tar
*.gz
*.rar

# Ignore other files
*.iml
*.pyc
